html, body, header, footer, a, ul, li, button, h1, h2, h3, h4, h5, p, form, label, input, section, article, div{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family:Arial, Helvetica, sans-serif
}
a{
    color: #ffffff;
    text-decoration: none;
}
li{
    list-style-type: none;
}